.about div{
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.about-text{
    display:flex;
    margin-left:20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-left img{
    max-height: 400px;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
